@import "./theme.css";

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--light-bg);
  color: var(--dark-text);
}

a {
  text-decoration: none;
  color: inherit;
}
